.reasoning {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem 0;
  text-align: center;
}

.reasoning h6 {
  font-size: var(--font-mid);
  margin-bottom: 3rem;
}

.reasoning_title_secondary {
  font-size: var(--font-paragraph);
  margin-bottom: 5rem;
  max-width: 1000px;
}

.reasoning div {
  display: flex;
  align-items: center;
  justify-self: center;
  width: 100%;
}

@media screen and (max-width: 625px) {
  .reasoning div {
    flex-direction: column;
  }

  .reasoning div:not(:last-of-type) {
    margin-bottom: 3rem;
  }

  .reasoning_title_secondary {
    padding: 0 2rem;
  }
}
