.reason {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.amount {
  font-size: var(--font-huge);
  font-weight: 600;
}

.desc {
  font-size: var(--font-paragraph);
}

@media screen and (max-width: 900px) {
  .amount {
    font-size: var(--font-mid);
  }

  .desc {
    font-size: var(--font-small);
  }
}
