.userTab {
  background-color: var(--color-pink-light);
  display: flex;
  padding: 5rem;
  align-items: center;
  height: calc(100vh - 12rem);
}

.information {
  flex: 1;
}

.render {
  flex: 1;
}

.userTab h1 {
  font-size: var(--font-mid);
}

.userTab hr {
  margin-bottom: 3rem;
}

/* ===== INFORMATION STYLING ===== */

.information label {
  display: block;
  font-size: var(--font-mini);
}

.information p,
.information input {
  font-size: var(--font-small);
  margin-bottom: 1rem;
}

.information .trigger_edit {
  display: flex;
  align-items: center;
}

.information .edit_hint {
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-right: 2rem;
}

.edit_button {
  background-color: transparent;
  border: 1px solid var(--color-pink-mid);
  border-radius: var(--rounding);
  cursor: pointer;
  padding: 0.2rem;
}

.edit_button svg {
  fill: var(--color-pink-mid);
  scale: 1.2;
}

.information form {
  display: flex;
  flex-direction: column;
}

.information form input {
  padding: 0.2rem 0.5rem;
  width: 70%;
  font-weight: 100;
}

.save_edit {
  padding: 0.6rem 1.7rem;
  width: fit-content;
  font-size: var(--font-paragraph);
  border: none;
  border-radius: var(--rounding);
  transition: all 0.1s linear;
  background-color: var(--color-pink-mid);
  margin-top: 1rem;
}

.save_edit:hover {
  cursor: pointer;
  scale: 1.03;
  background-color: var(--color-pink-dark) !important;
  color: var(--color-white);
}

/* ===== RENDER STYLING ===== */
.render canvas {
  cursor: grab;
}

/* ===== RESPONSIVE STYLING ===== */

@media screen and (max-width: 768px) {
  .userTab {
    flex-direction: column;
    padding: 10rem 0;
    height: auto;
    gap: 3rem;
    overflow-x: hidden;
  }
}
