.userPage {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 10rem;
}

.userPage h1 {
  font-size: var(--font-huge);
  padding-top: 5rem;
  color: var(--color-pink-dark);
  font-weight: 300;
  letter-spacing: 0.5rem;
}

.userPage hr {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.userTab {
  background-color: var(--color-pink-light);
  display: flex;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  gap: 1rem;
}

.information {
  flex: 1;
}

.render {
  flex: 1;
}

/* ===== INFORMATION STYLING ===== */

.information label {
  font-size: var(--font-mini);
}

.information p,
.information input {
  font-size: var(--font-small);
  margin-bottom: 1rem;
}

.userPage .trigger_edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.edit_hint {
  font-size: var(--font-mini);
  margin-top: 3rem;
  margin-right: 2rem;
}

.edit_button {
  background-color: transparent;
  border: 1px solid var(--color-pink-mid);
  border-radius: var(--rounding);
  cursor: pointer;
  padding: 0.2rem;
}

.edit_button svg {
  fill: var(--color-pink-mid);
  scale: 1.2;
}

.information form {
  display: flex;
  flex-direction: column;
}

.information form input {
  font-weight: 100;
}

.consent {
  display: flex;
  gap: 2rem;
  margin: 2rem 0;
}

.consent input[type="checkbox"] {
  position: relative;
  appearance: none;
  width: 50px;
  height: 25px;
  background: #ccc;
  border-radius: 50px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.4s;
}

.information input {
  font-size: var(--font-small);
  border: none;
  border-radius: var(--rounding);
  padding: 1rem;
}

.information input:focus {
  outline: 3px solid var(--color-pink-dark);
  border-color: var(--color-pink-dark);
}

.information input::placeholder {
  font-size: var(--font-mini);
  font-weight: lighter;
  color: rgba(153, 153, 153, 0.6);
}

.consent input:checked[type="checkbox"] {
  background: var(--color-green-light);
}

.consent input[type="checkbox"]::after {
  position: absolute;
  content: "";
  width: 25px;
  height: 25px;
  top: 0;
  left: 0;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
  transition: 0.4s;
}

.consent input:checked[type="checkbox"]::after {
  left: 50%;
}

.consent p {
  max-width: 70%;
}

.save_edit {
  padding: 0.6rem 1.7rem;
  width: fit-content;
  font-size: var(--font-paragraph);
  font-weight: 300;
  border: none;
  border-radius: var(--rounding);
  transition: all 0.1s linear;
  background-color: var(--color-pink-mid);
  margin-top: 1rem;
  color: black;
}

.save_edit:hover {
  cursor: pointer;
  scale: 1.03;
  background-color: var(--color-pink-dark) !important;
  color: var(--color-white);
}

/* ===== RENDER STYLING ===== */
.render canvas {
  cursor: grab;
}

/* ===== RESPONSIVE STYLING ===== */

@media screen and (max-width: 768px) {
  .userTab {
    flex-direction: column;
    height: auto;
    gap: 3rem;
  }

  .userPage {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 2rem;
  }

  .information {
    align-self: flex-start;
  }

  .information {
    width: 100%;
  }

  .userPage h1 {
    font-size: var(--font-big);
    padding-top: 5rem;
  }
}
