.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width, 1200px);
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 7rem 0;
}

.textContent {
  flex: 1;
  text-align: left;
}

.textContent h1 {
  font-size: var(--font-big);
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.textContent p {
  font-size: var(--font-paragraph);
  margin-bottom: 1rem;
}

.imageWrapper {
  flex: 2;
  display: flex;
  justify-content: center;
  min-width: 300px;
}

.imageWrapper img {
  object-fit: cover;
  width: 550px;
  height: auto;
}

@media screen and (max-width: 1300px) {
  .wrapper {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }
  .textContent {
    flex: 1;
    text-align: center;
  }

  .wrapper {
    gap: 2rem;
    padding: 0 2rem;
  }

  .imageWrapper {
    width: 100%;
    max-width: 100%;
  }

  .textContent h1 {
    font-size: var(--font-mid);
  }

  .textContent p {
    font-size: var(--font-small);
  }
}
