.aboutContainer {
    display: flex;
    margin: 2rem 8rem 4.5rem 20rem;
    align-items: center;
    font-size: medium;
}

.textFormating {
    white-space: pre-line;
    font-size: 1.8rem;
}

.featureContainer {
    display: flex;
    background-color: #fdefe6;
    align-content: center;
    justify-content: space-evenly;
    padding: 2.8rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    font-size: var(--font-mini);
}

.featureItem {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.featureText {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.preLine {
    white-space: pre-line;
}

.icon {
    width: 30px;
    height: 30px;
}
