.main {
  background-color: var(--color-pink-light);
}

.accordion {
  max-width: var(--max-width);
  margin: 0 auto;
  padding-top: 15rem;
  padding-bottom: 3rem;
}

.accordion button {
  all: unset;
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  width: 100%;
  justify-content: flex-end;
  align-content: center;
  background-color: transparent;
  border: none;
  text-align: left;
  color: black !important;
  cursor: pointer;
  font-size: var(--font-paragraph);
  font-weight: 300;
  padding: 2rem 0;
}

.accordion button,
.accordion a {
  color: black;
  text-decoration: none;
}

.accordion section {
  font-size: var(--font-small);
  margin-bottom: 2rem;
  max-width: 90%;
}

.wrapper {
  max-width: var(--max-width);
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    padding: 0 3rem;
  }
}
