.listing {
  text-decoration: none;
  color: var(--color-pink-dark);
  font-size: var(--font-paragraph);
  font-weight: 600;
}

.label {
  font-size: var(--font-small);
  margin-bottom: 1rem;
}

.label:not(:first-of-type) {
  margin-top: 5rem;
}
