.details {
  padding: 3rem;
}

.details p {
  font-size: var(--font-paragraph);
  margin-bottom: 1.5rem;
}

.details hr {
  margin-bottom: 2rem;
}

.details div {
  background-color: red;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
