.background {
  background-color: var(--color-pink-light);
}

.main {
  max-width: 700px;
  background-color: var(--color-pink-mid);
  margin: 0 auto;
  min-height: 100vh;
  max-height: 100vh;
  padding-top: 10rem;
}

.card {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10rem);
}

.imgContainer {
  position: relative;
  flex: 1;
}

.petDetails {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;
  width: 100%;
  position: relative;
}

.petContent {
  position: absolute;
  transform: translateY(-50px);
  z-index: 0;
  background-color: #fff;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.35);
}
