.background {
  background-color: var(--color-pink-light);
  min-height: 100vh;
  overflow: hidden;
}

.main {
  max-width: 500px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: var(--rounding);
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.35);
  padding: 1rem;
  margin-top: 15rem;
}

.imgContainer {
  position: relative;
  height: 450px;
  border-radius: var(--rounding);
}

.petDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem 0;
  margin-bottom: -80px;
}

.petContent {
  background-color: var(--color-white);
  width: 100%;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.35);
  transform: translateY(-75px);
  z-index: 1;
  border-radius: var(--rounding);
}

@media (max-width: 768px) {
  .main {
    padding-top: 0;
    justify-content: flex-end;
  }

  .card {
    margin-top: 10rem;
  }

  .petContent {
    transform: translateY(-50px);
    width: 95%;
  }

  .petDetails {
    margin-bottom: -50px;
  }

  .imgContainer {
    height: 300px;
  }
}
