.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.heroContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-white);
  z-index: 3;
  width: 70%;
  user-select: none;
}

.heroContent h1 {
  font-size: var(--font-huge);
  letter-spacing: 3px;
  max-width: 85%;
}

.heroContent h1 + p {
  font-size: var(--font-mid);
  margin-bottom: 6rem;
}

.heroContent p {
  font-size: var(--font-paragraph);
  width: 50%;
  margin-bottom: 2rem;
}

.jelly {
  animation: jelly 1.2s ease-out 0s 1 normal none;
  animation-delay: 1s;
}

@keyframes jelly {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@media screen and (max-width: 950px) {
  .heroContent {
    font-size: var(--font-big);
  }
}

@media screen and (max-width: 665px) {
  .heroContent {
    font-size: var(--font-mid);
    width: 90%;
  }

  .heroContent h1 {
    letter-spacing: 1px;
  }

  .heroContent h1 + p {
    font-size: var(--font-big);
    margin-bottom: 6rem;
  }
}

.heroMobile {
  display: none;
}

@media screen and (max-width: 770px) {
  .heroDesktop {
    display: none;
  }

  .heroMobile {
    display: block;
  }
}

@media screen and (max-width: 450px) {
  .heroContent {
    font-size: var(--font-mobile-header);
    width: 90%;
  }

  .heroContent h1 {
    font-size: var(--font-mid);
  }

  .heroContent h1 + p {
    font-size: var(--font-small);
    margin-bottom: 6rem;
  }

  .heroContent p {
    font-size: var(--font-small);
    width: 90%;
  }
}
