.navBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem 5rem;
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: 0.2s all ease-in;
}

.navBar.scrolled {
  background-color: var(--color-green) !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navBar.navBar.scrolled img {
  width: 50px;
  height: 50px;
}

.navBar ul {
  display: flex;
  gap: 10rem;
  font-size: var(--font-paragraph);
  list-style: none;
}

.navBar ul li {
  overflow: hidden;
  padding: 0.3rem 1rem;
}

.navBar ul li a {
  color: var(--color-white);
  text-decoration: none;
  position: relative;
}

.navBar ul li a::before {
  content: "";
  height: 3px;
  width: 70%;
  position: absolute;
  bottom: 0;
  left: -100%;
  background-color: var(--color-pink-mid);
  transition: all 0.4s ease;
}

.navBar ul li a:hover::before {
  left: -10%;
}

.navBar img {
  border-radius: 50%;
}

.langPick {
  background-color: transparent;
  top: 4rem;
}

.navBar ul li a.active {
  position: relative;
}

.navBar ul li a.active::before {
  content: "";
  height: 3px;
  width: 70%;
  position: absolute;
  bottom: 0;
  left: -10%;
  background-color: var(--color-pink-mid);
  transition: all 0.4s ease;
}

@media screen and (max-width: 1200px) {
  .navBar {
    justify-content: space-evenly;
    padding: 0.7rem 2rem;
    position: fixed;
  }

  .navBar ul {
    gap: 3rem;
  }
}

@media screen and (max-width: 950px) {
  .navBar {
    display: none;
  }
}
