.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-height: 550px;
  min-height: 500px;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  border-radius: 15px;
  background-color: var(--color-pink-mid);
  padding: 2rem;
}

.card:hover {
  cursor: pointer;
  background-color: var(--color-pink-dark);
}

.card p {
  font-size: var(--font-paragraph);
  color: var(--color-pink-light);
  font-weight: 400;
  margin-top: 4rem;
}

.plus_icon {
  scale: 2;
  fill: var(--color-pink-light);
}

.card form {
  display: flex;
  flex-direction: column;
}

.card input {
  padding: 0.2rem 0.5rem;
  width: fit-content;
  font-size: var(--font-small);
}

.card input[type="file"] {
  width: 100%;
}

.card label {
  font-size: var(--font-small);
  margin-top: 1rem;
}

.card select {
  font-size: var(--font-small);
}

.buttonsContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2rem;
  margin-top: 2rem;
}

.card button {
  padding: 0.6rem 1.7rem;
  width: fit-content;
  font-size: var(--font-mini);
  border: none;
  border-radius: var(--rounding);
  transition: all 0.1s linear;
  background-color: var(--color-pink-light);
  margin-top: 1rem;
}

.card button:hover {
  cursor: pointer;
  background-color: var(--color-pink-mid) !important;
  color: var(--color-white);
}

.card select {
  width: max-content;
}
