.title {
  padding-top: 10rem;
  padding-bottom: 5rem;
  margin: 0 auto;
  color: var(--color-pink-dark);
  font-weight: 300;
  font-size: var(--font-huge);
  letter-spacing: 0.5rem;
  max-width: var(--max-width);
}

.cards {
  --surface-color: var(--color-pink-dark);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  list-style-type: none;
  max-width: 1280px; /* Limit total width to max 3-4 columns */
  margin: 0 auto;
}

.card {
  position: relative;
  display: block;
  max-height: 550px;
  min-height: 500px;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  border-radius: 15px;
}

.card__image {
  min-width: 300;
  width: 400px;
  height: auto;
}

.card__overlay {
  font-size: var(--font-paragraph);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: 3rem 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.25s ease-in-out;
}

.card:hover .card__overlay,
.card.active .card__overlay {
  transform: translateY(0);
}

.card:hover .card__header,
.card.active .card__header {
  transform: translateY(0);
}

.active {
  /* no styles needed, it just toggles CSS selectors above */
}

.card__header {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 4rem;
  border-radius: 3rem 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.25s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  color: var(--color-white);
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-size: var(--font-small);
  color: #d7bdca;
}

.card__status {
  font-size: var(--font-small);
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.card__infos {
  padding: 0 2rem 0 2rem;
}

.card__infos input {
  font-size: var(--font-small);
  border: none;
  border-radius: var(--rounding);
  padding: 0.2rem 1rem;
  margin-bottom: 1rem;
}

.card__infos input:focus {
  outline: 3px solid var(--color-pink-light);
  border-color: var(--color-pink-light);
}

.card__infos input::placeholder {
  font-size: var(--font-mini);
  font-weight: lighter;
  color: rgba(153, 153, 153, 0.6);
}

.card__infos select {
  font-size: var(--font-small);
}

.editOption {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.editOption:hover,
.editOption svg:hover {
  cursor: pointer;
}

.editOption svg {
  fill: var(--color-pink-light);
  scale: 1.2;
}

.editOption button {
  background-color: transparent;
  border: 1px solid var(--color-pink-light);
  padding: 0.2rem;
}

.editOption span {
  margin-left: 0.5rem;
  font-size: 1.15rem;
  color: var(--color-pink-light);
  text-align: right;
}

.actionBtns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  margin-top: 1rem;
}

.submitBtn,
.deleteBtn {
  flex: 1;
  min-width: 120px;
  padding: 1rem 2vw;
  border-radius: var(--rounding);
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: var(--font-small);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.submitBtn,
.deleteBtn {
  float: none;
  margin-bottom: 1rem;
}

.submitBtn {
  background-color: var(--color-pink-light);
  color: var(--color-dark);
}

.submitBtn:hover {
  background-color: var(--color-pink-mid);
  color: var(--color-white);
}

.submitBtn:hover svg {
  fill: var(--color-white);
}

.deleteBtn {
  background: linear-gradient(to right, red 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  color: white;
  background-color: rgb(211, 66, 66);
  transition: background-position 0.2s ease-out, color 0.2s ease-out;
}

.deleteBtn:hover {
  background-position: left bottom;
}

.submitBtn svg,
.deleteBtn svg {
  width: 1.8rem;
  transition: 0.1s all linear;
}

.deleteBtn svg {
  fill: white;
}

@media (max-width: 480px) {
  .actionBtns {
    flex-direction: column;
    gap: 0;
  }

  .submitBtn,
  .deleteBtn {
    width: 100%;
  }
}

@media screen and (max-width: 770px) {
  .cards {
    gap: 3rem;
  }

  .title {
    padding: 6rem 2rem;
    font-size: var(--font-big);
  }
}
