.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-pink-light);
  padding: 6rem 0;
  text-align: center;
}

.cta h4 {
  font-size: var(--font-mid);
  margin-bottom: 4rem;
}

.cta p {
  font-size: var(--font-paragraph);
  margin-bottom: 4rem;
}

@media screen and (max-width: 625px) {
  .cta p {
    max-width: 95%;
  }
}
