.backBtn {
  background-color: var(--color-red-decline);
  padding: 0.5rem 1.2rem;
  font-size: var(--font-small);
  color: var(--color-white);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  /* position: absolute;
  bottom: 170px;
  right: 133px; */
}
