.main {
  overflow: hidden;
  position: relative;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  transition: transform 0.8s ease-out;
  transition-delay: 0.2s;
}

.pics {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: var(--color-pink-light);
}

.pics img {
  position: absolute;
  width: 25rem;
  height: auto;
  transition: transform 0.8s ease-out;
}

.pics img:first-child {
  top: 5rem;
  left: -3rem;
}

.pics img:nth-child(2) {
  bottom: 15rem;
  left: 20rem;
}

.pics img:nth-child(3) {
  top: 19rem;
  right: 12rem;
}

.pics img:nth-child(4) {
  top: 35rem;
  left: 30%;
}

.pics img:nth-child(5) {
  bottom: 3rem;
  right: 40rem;
}

/* introduce delay between image animations */

.pics img:nth-child(1),
.pics img:nth-child(2) {
  transition-delay: 0.4s;
}

.pics img:nth-child(3) {
  transition-delay: 0.25s;
}

.pics img:nth-child(4) {
  transition-delay: 0.5s;
}

.pics img:nth-child(5) {
  transition-delay: 0.15s;
}

.content {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100vh;
  background-color: transparent;
  transition: transform 1.2s ease-in-out;
}

.animate {
  transform: translateY(-100vh);
}
