.login_wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
  box-sizing: border-box;
}

.login {
  background-color: color-mix(
    in srgb,
    var(--color-pink-light) 40%,
    transparent
  );
  padding: 2rem;
  text-align: center;
  border-radius: var(--rounding);
  max-width: 600px;
  width: 100%;
  box-sizing: border-box;
}

.login h1 {
  font-size: var(--font-big);
  color: var(--color-pink-dark);
}

.login h2 {
  font-size: var(--font-paragraph);
  color: var(--color-grey-dark);
  font-weight: 300;
  margin-bottom: 2rem;
}

.login h3 {
  font-size: var(--font-paragraph);
  color: var(--color-pink-mid);
}

.info {
  font-size: var(--font-small);
  color: var(--color-grey-dark);
  margin-bottom: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  padding: 3rem 2rem;
  margin-bottom: 2rem;
  border-radius: var(--rounding);
  box-sizing: border-box;
}

.form input,
.form button {
  font-size: var(--font-small);
  border-color: var(--color-pink-dark);
}

.form input:focus {
  outline: 3px solid var(--color-pink-dark);
  border-color: var(--color-pink-dark);
}

.form input::placeholder {
  font-size: var(--font-mini);
  font-weight: lighter;
  color: rgba(153, 153, 153, 0.6);
}

.form .submitBtn {
  border-radius: var(--rounding);
  border: 1px solid rgb(165, 164, 164);
  color: black;
  background-color: var(--color-pink-light);
  font-weight: 300;
  padding: 1rem 0;
  margin: 1rem 0 4rem 0;
  width: 100%;
  max-width: 20rem;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form .submitBtn:hover {
  cursor: pointer;
  background-color: var(--color-pink-mid);
  color: var(--color-white);
}

.form .submitBtn:hover svg {
  fill: var(--color-white);
}

.form .submitBtn svg {
  margin-right: 1rem;
}

.form label {
  font-size: var(--font-mini);
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: 500;
}

.form div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form div,
.form input[type="email"],
.form input[type="password"] {
  margin-bottom: 2rem;
}

.form input[type="email"],
.form input[type="password"] {
  padding: 1rem;
  border-radius: var(--rounding);
  border: 1px solid var(--color-grey-dark);
  background-color: #ececec76;
  width: 100%;
  box-sizing: border-box;
}

.forgot_password {
  font-size: var(--font-mini);
  margin-top: 1rem;
  width: fit-content;
}

.forgot_password:hover {
  cursor: pointer;
  color: var(--color-pink-dark);
}

.register {
  font-size: var(--font-small);
  padding: 2rem 0;
}

.register button {
  background-color: transparent;
  border: none;
  color: var(--color-pink-dark);
}

.register button:hover {
  color: var(--color-pink-mid);
  cursor: pointer;
}

.persist label {
  margin-right: 1.5rem;
}

.persist input {
  width: 2rem;
  height: 2rem;
}

.login .proof {
  font-size: var(--font-mini);
  color: var(--color-grey-dark);
}

@media screen and (max-width: 435px) {
}
