.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--color-white);
  padding: 2rem;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}

.form input,
.form button {
  font-size: var(--font-small);
}

.form label {
  font-size: var(--font-mini);
  margin-right: 1rem;
}

.form div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form div,
.form input {
  margin-bottom: 1.4rem;
}

.form input {
  padding: 0.2rem 0.5rem;
}

.animateForm {
  animation: animate 1.5s ease-in-out forwards;
}

@keyframes animate {
  from {
    opacity: 0;
    transform: translate(-50%, -120%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
