.wrapper {
  background-color: var(--color-green);
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: var(--max-width);
  width: 90vw;
  height: 70vh;
  transform: translateY(60px);
  border-radius: var(--rounding);
  overflow: hidden;
}
