.formContainer {
  font-size: var(--font-small);
  flex: 1;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 35rem;
}

.formContainer form input {
  border-radius: var(--rounding);
  margin-bottom: 1.5rem;
  padding: 1rem;
}

.form {
  position: relative;
  height: 5rem;
  margin-bottom: 1.3rem;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-white);
  border-radius: var(--rounding);
  font-family: inherit;
  font-size: inherit;
  color: var(--color-white);
  outline: none;
  padding: 1.5rem;
  background: none;
}

.form__input:hover {
  border-color: var(--color-pink-mid);
}

.form__input:focus {
  border-color: var(--color-pink-dark);
}

.form__label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  color: white;
  cursor: text;
  -webkit-transition: top 200ms ease-in, left 200ms ease-in,
    font-size 200ms ease-in;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: var(--color-green);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: var(--font-mini);
  left: 0.8rem;
}
