*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-white: #fbfbfb;
  --color-grey: #f4f4f4;
  --color-pink-light: #f08e80;
  --color-pink-dark: #e27d6e;
}

/* Convert px to rem => 10px to one rem */

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-weight: 200;
}
