*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --color-white: #fbfbfb;
  --color-grey: #f4f4f4;
  --color-pink-light: #fdefe6;
  --color-pink-mid: #f8a295;
  --color-pink-dark: #e27d6e;
  --color-green: #0a2b03;
  --rounding: 5px;
  --font-huge: 5.2rem;
  --font-big: 4rem;
  --font-mid: 3rem;
  --font-mobile-header: 2.3rem;
  --font-paragraph: 2rem;
  --font-small: 1.8rem;
  --font-mini: 1.5rem;
}

/* Convert px to rem => 10px to one rem */

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-weight: 200;
}
