.wrapper {
  background-color: var(--color-pink-light);
}

.section {
  display: flex;
  justify-content: space-between;
  padding: 10rem 0;
  margin-top: 6rem;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-top: 10rem;
}

@media screen and (max-width: 640px) {
  .section {
    flex-direction: column;
  }
}
