.select {
  position: absolute;
  width: fit-content;
  padding: 1rem;
  border-radius: var(--rounding);
  border: 0.1px solid var(--color-white);
  color: var(--color-white);
  font-size: var(--font-mini);
  letter-spacing: 0.1rem;
  right: 3rem;
}

.select:hover {
  cursor: pointer;
}

.select option {
  background-color: var(--color-pink-dark);
  font-weight: 400;
}
