.our_team {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  padding: 0 2rem;
}

.our_team > div {
  display: flex;
  gap: 4rem;
  padding: 10rem 0;
  max-width: 1300px;
}

.our_team_text {
  flex: 2;
  min-width: 400px;
}

.person_container {
  display: flex;
  justify-content: space-around;
  flex: 1;
  gap: 2rem;
}

.person_container div {
  text-align: center;
}

.person_container img {
  border-radius: 1000px;
  margin-bottom: 1rem;
}

.person_container h4 {
  font-size: var(--font-small);
  font-weight: 400;
}

.person_container p {
  font-size: var(--font-mini);
}

@media screen and (max-width: 950px) {
  .our_team > div {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 520px) {
  .person_container {
    flex-direction: column;
    gap: 3rem;
  }
}

@media screen and (max-width: 420px) {
  .our_team_text {
    min-width: unset;
  }
}
