.personTag {
  text-align: center;
  transition: box-shadow 0.3s ease;
  padding: 1rem;
  margin: 1rem;
  border-radius: 8px;
}

.personImage {
  border-radius: 8px;
  transition: transform 0.3s ease;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.personTag:hover .personImage {
  transform: scale(1.05);
}
