.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about > div {
  display: flex;
  gap: 6rem;
  padding: 10rem 0;
  max-width: var(--max-width);
  flex-wrap: wrap-reverse;
}

.about_img_container {
  flex: 1;
}

.about_img {
  object-fit: contain;
  width: 100%;
  clip-path: inset(0 0 0 0 round 0% 20% 0 20%);
}

.about_text {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.about_text div {
  height: 100px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 800px) {
  .about > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .about_text {
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 650px) {
  .about > div {
    padding: 3rem 0;
    display: flex;
    flex-direction: column !important;
    gap: 0;
  }
}
